<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer">
  <!-- footer top start -->
  <div class="footer-top bg-black pt-14 pb-14">
    <div class="container">
      <div class="footer-top-wrapper">
        <div class="newsletter__wrap">
          <div class="newsletter__title">
            <div class="newsletter__icon">
              <i class="fa fa-envelope"></i>
            </div>
            <div class="newsletter__content">
              <h3>KẾT NỐI VỚI CHÚNG TÔI</h3>
            </div>
          </div>
          <div class="newsletter__box">
            <form id="mc-form">
              <input type="email" id="mc-email" autocomplete="off" placeholder="Email">
              <button id="mc-submit">subscribe!</button>
            </form>
          </div>
          <!-- mailchimp-alerts Start -->
          <div class="mailchimp-alerts">
            <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
            <div class="mailchimp-success"></div><!-- mailchimp-success end -->
            <div class="mailchimp-error"></div><!-- mailchimp-error end -->
          </div>
          <!-- mailchimp-alerts end -->
        </div>
        <div class="social-icons">
          <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
          <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a>
          <a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram"></i></a>
          <a href="#" data-toggle="tooltip" data-placement="top" title="Google-plus"><i class="fa fa-google-plus"></i></a>
          <a href="#" data-toggle="tooltip" data-placement="top" title="Youtube"><i class="fa fa-youtube"></i></a>
        </div>
      </div>
    </div>
  </div>
  <!-- footer top end -->

  <!-- footer main start -->
  <div class="footer-widget-area pt-40 pb-38 pb-sm-10">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="footer-widget mb-sm-30">
            <div class="widget-title mb-10 mb-sm-6">
              <h4>Liên hệ</h4>
            </div>
            <div class="widget-body">
              <ul class="location">
                <li><i class="fa fa-envelope"></i>Smart.watch@gmail.com</li>
                <li><i class="fa fa-phone"></i>(+84) 0944 456 789</li>
                <li><i class="fa fa-map-marker"></i>Địa chỉ: Số 1 Đào Duy Anh, Phương Mai, Đống Đa, Hà Nội</li>
              </ul>
              <!--              <a class="map-btn" href="contact-us.html">open in google map</a>-->
            </div>
          </div> <!-- single widget end -->
        </div> <!-- single widget column end -->
        <div class="col-md-3 col-sm-6">
          <div class="footer-widget mb-sm-30">
            <div class="widget-title mb-10 mb-sm-6">
              <h4>HỖ TRỢ KHÁCH HÀNG</h4>
            </div>
            <div class="widget-body">
              <ul>
                <li><a href="#">Hướng dẫn mua hàng</a></li>
                <li><a href="#">Hình thức thanh toán</a></li>
                <li><a href="#">Chăm sóc khách hàng</a></li>
                <li><a href="#">Hỗ trợ kỹ thuật</a></li>
                <li><a href="#">Download phần mềm</a></li>
              </ul>
            </div>
          </div> <!-- single widget end -->
        </div> <!-- single widget column end -->
        <div class="col-md-3 col-sm-6">
          <div class="footer-widget mb-sm-30">
            <div class="widget-title mb-10 mb-sm-6">
              <h4>CHÍNH SÁCH VÀ QUY ĐỊNH</h4>
            </div>
            <div class="widget-body">
              <ul>
                <li><a href="#">Chính sách giao nhận</a></li>
                <li><a href="#">Chính sách bảo hành</a></li>
                <li><a href="#">Chính sách dùng thử sản phẩm</a></li>
                <li><a href="#">Chính sách đổi trả sản phẩm</a></li>
                <li><a href="#">Chính sách bảo mật thông tin</a></li>
              </ul>
            </div>
          </div> <!-- single widget end -->
        </div> <!-- single widget column end -->
        <div class="col-md-3 col-sm-6">
          <div class="footer-widget mb-sm-30">
            <div class="widget-title mb-10 mb-sm-6">
              <h4>THÔNG TIN</h4>
            </div>
            <div class="widget-body">
              <ul>
                <li><a href="#">Liên hệ, góp ý</a></li>
                <li><a href="#">Giải thưởng</a></li>
                <li><a href="#">Tin tức</a></li>
                <li><a href="#">Tin tuyển dụng</a></li>
                <li><a href="#">Mã giảm giá</a></li>
              </ul>
            </div>
          </div> <!-- single widget end -->
        </div> <!-- single widget column end -->
      </div>
    </div>
  </div>
  <!-- footer main end -->

  <!-- footer bootom start -->
  <div class="footer-bottom-area bg-gray pt-20 pb-20">
    <div class="container">
      <div class="footer-bottom-wrap">
        <div class="copyright-text">
        </div>
        <div class="payment-method-img">
          <img src="assets/img/payment.png" alt="">
        </div>
      </div>
    </div>
  </div>
  <!-- footer bootom end -->

</footer>
</html>