<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Chào mừng bạn quay trở lại!</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link th:href="@{/assets/ckeditor/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/assets/ckeditor/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{/assets/ckeditor/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
    <link th:href="@{/assets/ckeditor/vendor/quill/quill.snow.css}" rel="stylesheet">
    <link th:href="@{/assets/ckeditor/vendor/quill/quill.bubble.css}" rel="stylesheet">
    <link th:href="@{/assets/ckeditor/vendor/remixicon/remixicon.css}" rel="stylesheet">
    <link th:href="@{/assets/ckeditor/vendor/simple-datatables/style.css}" rel="stylesheet">
    <link rel="stylesheet" href="">
    <!-- Template Main CSS File -->
    <link th:href="@{assets/css2/style.css}" rel="stylesheet">

</head>

<body>

<main>
    <div class="container">
        <section
                class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                        <div class="d-flex justify-content-center py-4">
                            <span class="d-none d-lg-block">Watch Store</span>
                        </div><!-- End Logo -->

                        <div class="card mb-3">

                            <div class="card-body">

                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Wellcome back.</h5>
                                </div>

                                <form class="row g-3 needs-validation" th:action="@{/login-check}" method="post"
                                      novalidate>

                                    <div class="col-12">
                                        <label for="yourUsername" class="form-label">Email</label>
                                        <div class="input-group has-validation">
                                            <span class="input-group-text" id="inputGroupPrepend">@</span>
                                            <input type="text" name="username" class="form-control"
                                                   id="yourUsername" placeholder="Nhập email" required>
                                            <div class="invalid-feedback">Please enter your Email.</div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label for="yourPassword" class="form-label">Password</label>
                                        <input type="password" name="password" class="form-control"
                                               id="yourPassword" placeholder="Nhập mật khẩu" required>
                                        <div class="invalid-feedback">Please enter your password!</div>
                                    </div>

                                    <div class="col-12">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="remember"
                                                   value="true" id="rememberMe">
                                            <label class="form-check-label" for="rememberMe">Remember me</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-primary w-100" id="btnLogin"
                                                type="submit">Login</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

    </div>
</main><!-- End #main -->

<div class="mt-5 text-center position-relative">
    <p class="text-white-50">© Juli - SHOP <span class="d-none d-sm-inline-block"><i
            class="mdi mdi-heart text-danger"></i></span></p>
</div>
<script layout:fragment="script">

    $(document).ready(function () {
        const email = $('#username');
        const messageFail = "[[${param.status}]]";
        const typingEmail = "[[${session.emailLogin}]]";
        if (messageFail === 'login_false') {
            $('#message').addClass("alert alert-danger").html(`<i class="fas fa-times-circle fs-5 me-2"></i><span>Thông tin đăng nhập không chính xác!</span>`).show();
        }
        if (typingEmail !== '') {
            email.val(typingEmail);
        }

        email.val(Cookies.get('email'));
        $('#remember').prop("checked", true);

        // Submit by key press Enter
        $('form').keypress((e) => {
            if (e.which === 13) {
                $('#btnLogin').click();
            }
        })
    });

    function validate() {
        const patternEmail = /^\b[A-Z0-9._%-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i;
        const email = $('#username');

        // Email
        if (!patternEmail.test(email.val())) {
            $('#message').addClass("alert alert-danger").html(`<i class="fas fa-times-circle fs-5 me-2"></i><span>Email không hợp lệ!</span>`).show();
            return false;
        }
        return true;
    }

    // Login Submit
    $('#btnLogin').click(function () {
        if (validate()) {
            // Save data to cookie if checked
            if ($('#remember').prop("checked")) {
                Cookies.set('email', $('#username').val());
                Cookies.set('remember', 'checked');
            }
            checkCountLoginFalse();
        }
    });

    function checkCountLoginFalse() {
        const message = $('#message');
        const email = $('#username').val();

        $.ajax({
            url: `/api/count_login_false?email=${email}`,
            type: 'GET',
            success: function (data) {
                $('form').submit();
            },
            error: function (data) {
                console.log(data)
                message.addClass("alert alert-danger").html(`<i class="fas fa-times-circle fs-5 me-2"></i><span>${data.responseText}</span>`).show();
            }
        });
    }
</script>
<!-- Vendor JS Files -->
<script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/vendor/chart.js/chart.umd.js}"></script>
<script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
<script th:src="@{/assets/vendor/quill/quill.min.js}"></script>
<script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
<script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
<script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>
<script th:src="@{/assets/js2/main.js}"></script>

</body>

</html>